
body{
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  box-sizing:border-box;
  /* background-color: #ccc; */
  /* font-size: 2rem; */

};



     
/* 

.App {
  text-align: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
} */


